/* This file is a CSS reset that helps to ensure consistent styling across different browsers. */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent; /* 1 */
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder; /* 1 */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%; /* 1 */
}

sub {
  font-size: 0.75em; /* 1 */
  line-height: 0; /* 2 */
  position: relative; /* 3 */
  bottom: 0.25em; /* 4 */
}

sup {
  font-size: 0.75em; /* 1 */
  line-height: 0; /* 2 */
  position: relative; /* 3 */
  top: 0.25em; /* 4 */
}

table {
  border-collapse: collapse; /* 1 */
  border-spacing: 0; /* 2 */
}

textarea {
  overflow: auto; /* 1 */
}

button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 2 */
  line-height: inherit; /* 3 */
}

button,
input {
  overflow: visible; /* 1 */
}

button,
select {
  text-transform: none; /* 1 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 1 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; /* 1 */
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: 2px; /* 2 */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; /* 1 */
}
